{{#> layout/commonTemp title=home.title}}
<script id="person-partial" type="text/x-handlebars-template">
  <div class="person">
   \{{#each people}} <p>\{{this.person}}</p> \{{/each}}
  </div>
</script>
<div class="test"></div>
<p>Testsssdsdsd </p> 
{{/layout/commonTemp}}