{{#> layout/commonTemp title=home.title}}
<script id="person-partial" type="text/x-handlebars-template">
  <div class="person">
   \{{#each people}} <p>\{{this.person}}</p> \{{/each}}
  </div>
</script>
<div class="test"></div>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi sit laboriosam perferendis magnam deleniti natus suscipit ducimus, repellat et atque ea odit numquam minima dignissimos fugiat debitis ratione? Quae, ullam.</p>
{{/layout/commonTemp}}